/* @import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Racing+Sans+One&display=swap');

html, body {
	background: #000;
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Lobster', Arial, sans-serif;
	color: yellow;
	font-size: 170%;
}

.menu {
	position: fixed;
	cursor: pointer;
	left: 0;
	top: 0;
	z-index: 1000;
}

.menu a:hover {
	color: white;
	cursor: pointer;
}

.menu ul,
.menu ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu.main {
	top: 15%;
	left: 15%;
}

.menu.play {
	left: 100px;
}

.loading {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2000;
}
