/* @import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Racing+Sans+One&display=swap');

html, body {
	background: #000;
}

html, body, * {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.inventory {
	position: fixed;
	top: 0;
	left: 0;
}

.menu {
	position: fixed;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.menu.main {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.menu.play {
	bottom: 1rem;
	left: 1rem;
}

.menu * {
	cursor: pointer;
}
