@font-face {
	font-family: 'Lobster';
	src: url('../res/Lobster-Regular.ttf') format('truetype');
}

svg * {
	pointer-events: none;
}

.menu, svg {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

svg.window {
	position: absolute;
	overflow: hidden;
	display: block;
	left: 33%;
	top: 15%;
}

html, body {
	background: #000;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Lobster', Arial, sans-serif;
	color: yellow;
	font-size: 170%;
}

.hidden {
	display: none !important;
}

.menu {
	position: fixed;
	z-index: 1000;
}

.menu a:hover {
	color: white;
	cursor: pointer;
}

.menu ul,
.menu ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu.main {
	top: 15%;
	left: 15%;
}

.menu.play {
	top: 10px;
	left: 100px;
}

.menu.status-bar {
	top: 20px;
	right: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.menu.status-bar .lives img {
	max-width: 120px;
	max-height: 60px;
	margin-right: 20px;
}

.menu.status-bar .lives img.used {
	filter: grayscale(1);
}

.menu.status-bar .health-wrapper {
	min-width: 250px;
	max-width: 100%;
	border: 3px solid black;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.1);
}

.menu.status-bar .health-wrapper .health {
	background-color: green;
	border-radius: 5px;
	height: 20px;
}

.menu .text {
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid yellow;
}

.centered,
.loading {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading {
	z-index: 2000;
	pointer-events: none;
	animation: fadeIn 1s ease-in;
}

.text {
	font-size: 80%;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body.cursor-hidden,
body.cursor-hidden * {
	cursor: none;
}
